.best {
  width: 100%;
  background-color: #d3d3d3;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
.best .text {
  width: 100%;
  margin-left: 8%;
  margin-right: 10%;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #4c1a57;
}
.best .text h3 {
  font-size: 38px;
  line-height: 51px;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}
.best .text h5 {
  font-size: 20px;
  line-height: 25.6px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  color: #1e1e1e;
}
.best .text .bi {
  color: #1e1e1e;
}
.best .black {
  width: 300px;
  height: 550px;
  margin-top: 4px;
  margin-left: 5%;
  margin-right: 5%;
}
.best .black img {
  object-fit: contain;
  width: 100%;
  height: 380px;
  background-color: #8a8a8a;
  border-radius: 15%;
}
.best .black1 {
  width: 300px;
  height: 550px;
  margin-top: 4px;
  margin-left: 5%;
  margin-right: 5%;
}
.best .black1 img {
  object-fit: cover;
  width: 100%;
  height: 380px;
  background-color: #8a8a8a;
  border-radius: 15%;
}
.best .black h5 {
  font-size: 20px;
  line-height: 31px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 40%;
  color: #1e1e1e;
}
.best .black p {
  font-size: 28px;
  line-height: 38px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  margin-top: 5px;
  margin-left: 45%;
  color: #1e1e1e;
}
.best .black .cart {
  background-color: #4c1a57;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 35%;
  width: 150px;
  height: 40px;
}
.best .black1 h5 {
  font-size: 20px;
  line-height: 31px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 60%;
  color: #1e1e1e;
}
.best .black1 p {
  font-size: 28px;
  line-height: 38px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  margin-top: 5px;
  margin-left: 50%;
  color: #1e1e1e;
}
.best .black1 .cart {
  background-color: #4c1a57;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 40%;
  width: 150px;
  height: 40px;
}
.featured {
  width: 100%;
  background-color: #d3d3d3;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
.featured .text {
  width: 100%;
  margin-left: 8%;
  margin-right: 10%;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #4c1a57;
}
.featured .text h3 {
  font-size: 38px;
  line-height: 51px;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}
.featured .text h5 {
  font-size: 20px;
  line-height: 25.6px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  color: #1e1e1e;
}
.featured .text .bi {
  color: #1e1e1e;
}
.featured .black {
  width: 300px;
  height: 550px;
  margin-top: 4px;
  margin-left: 5%;
  margin-right: 5%;
}
.featured .black img {
  object-fit: contain;
  width: 100%;
  height: 380px;
  background-color: #8a8a8a;
  border-radius: 15%;
}
.featured .black h5 {
  font-size: 20px;
  line-height: 31px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 40%;
  color: #1e1e1e;
}
.featured .black p {
  font-size: 28px;
  line-height: 38px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  margin-top: 5px;
  margin-left: 45%;
  color: #1e1e1e;
}
.featured .black .cart {
  background-color: #4c1a57;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 35%;
  width: 150px;
  height: 40px;
}
.reviews {
  background-image: linear-gradient(to left, #f0f0f0, #bdbdbd, #8a8a8a);
  padding-top: 20px;
  padding-bottom: 30px;
}

.reviews .heading {
  /* background-color: red; */
  width: 80%;
  margin: auto;
  height: 50px;
}

.reviews .heading h4 {
  color: #4c1a57;
  font-size: 30px;
  font-style: italic;
  margin-top: 25px;
}

.reviews .review-center {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.reviews .review-center .first {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  /* background-color: purple; */
}

.reviews .review-center .first .box {
  background-color: #703d7a;
  width: 500px;
  height: auto;
  padding-left: 20px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.reviews .review-center .first .box .top {
  display: flex;
  margin-bottom: 30px;
}

.reviews .review-center .first .box .top .image img {
  margin-top: 30px;
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.reviews .review-center .first .box .top .icon {
  margin-top: 40px;
  margin-left: 30px;
}

.reviews .review-center .first .box .top .icon .fa-star {
  color: #fdd832;
}

.reviews .review-center .first .box .top .icon h4 {
  font-size: 22px;
  color: #f0f0f0;
  margin-bottom: 10px;
}

.reviews .review-center .first .box .top .icon h6 {
  font-size: 15px;
  color: #f0f0f0;
  margin-bottom: 10px;
}

.reviews .review-center .first .box .text {
  text-align: center;
  font-size: 19px;
  margin-bottom: 20px;
  color: #f0f0f0;
}

.vendor {
  width: auto;
  height: 88%;
  background-image: url(../images/foot.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.vendor .overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(12, 12, 12);
  opacity: 0.35;
  position: absolute;
  top: 0px;
  z-index: 1;
}
.vendor .content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.vendor .content .left {
  width: 100%;
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.vendor .content .left h3 {
  width: 100%;
  color: white;
  font-size: 46px;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
  line-height: 102.4px;
  margin-left: 15%;
  margin-right: 10%;
}
.vendor .content .left p {
  width: 100%;
  color: white;
  font-size: 23px;
  font-weight: 400;
  font-family: "Times New Roman", Times, serif;
  line-height: 50.4px;
  margin-left: 15%;
  margin-right: 10%;
}
.vendor .content .click {
  height: 55px;
  width: 170px;
  color: white;
  margin-top: 50px;
  font-size: 23px;
  margin-left: 15%;
  background-color: #4c1a57;
  z-index: 2;
  border-radius: 10px;
}

.newsletter {
  background-color: #655b68;
  /* padding-top: 30px; */
}

.newsletter .newsletter-center {
  /* background-color: red; */
  width: 80%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.newsletter .newsletter-center h3 {
  color: #f0f0f0;
  font-size: 25px;
  font-style: italic;
  margin-bottom: 20px;
}

.newsletter .newsletter-center h4 {
  color: #1e1e1e;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 20px;
}

.newsletter .newsletter-center .subscribe .email-input {
  display: flex;
  width: 100%;
  /* background-color: green; */
}
.newsletter .newsletter-center .subscribe .email-input input {
  width: 45%;
  height: 50px;
  padding-right: 5px;
  border-radius: 10px;
  border: solid 1px #f0f0f0;
  background-color: #655b68;
  color: #ffffff;
}

.newsletter .newsletter-center .subscribe .email-input .click {
  width: 10%;
  position: relative;
  right: 10%;
  background-color: #4c1a57;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: solid 1px #f0f0f0;
  border-left: none;
  color: #ffffff;
}
