* {
  padding: 0%;
  margin: 0%;
}
.header {
  width: 100%;
  height: 13%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  background-color: #f0f0f0;
}
img {
  width: 40px;
  height: 50%;
  margin-top: 25px;
  margin-left: 10%;
}
.header .first {
  margin-left: -8px;
  padding-top: 45px;
  padding-bottom: 5px;
  color: #4c1a57;
}
.header .first h3 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 16.08px;
  line-height: 20.59px;
}
.header .first h5 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  font-size: 8px;
  line-height: 10.24px;
  display: flex;
  justify-self: center;
}
.header .second {
  margin-left: 15%;
  margin-right: 8%;
  display: flex;
  align-items: center;
}
.header .second .nav-items {
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25.6px;
  margin-left: 15px;
  margin-top: 20px;
}
.header .second .nav-items a {
  text-decoration: none;
  color: #4c1a57;
}
.header .second .nav-items a:hover {
  color: blue;
}
.header input {
  width: 15%;
  height: 30px;
  margin-top: 30px;
  padding-left: 35px;
  border-radius: 15px;
  border-color: #1e1e1ecc;
  background-color: #f0f0f0;
}
.header .bi-search {
  padding-top: 38px;
  position: relative;
  right: 14%;
}
.header .icon {
  padding-top: 35px;
  margin-left: 38px;
  font-size: 25px;
}

.body {
  width: 100%;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  background-color: lightgray;
}
.body .right {
  width: 50%;
  height: 100%;
  margin-left: 0px;
}
.body .right img {
  width: 100%;
  height: 100%;
  position: relative;
  left: -66px;
  top: -25px;
  object-fit: fill;
}
.body .left {
  width: 40%;
  margin-left: 5%;
  text-align: left;
}
.body .left form {
  width: 100%;
  text-align: center;
}
.body .left form h3 {
  font-size: 20px;
  line-height: 30px;
  margin-top: 30px;
}
.body .left form p {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.body .left form p a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.body .left form .use {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  padding-left: 20px;
  color: #4c1a57;
  background-color: transparent;
  border: 1px solid rgb(41, 40, 40);
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.15);
  font-size: 15px;
  font-weight: bold;
}
.body .left form .use .fa-google {
  color: black;
  font-size: 18px;
  margin-right: 10px;
}
