* {
  padding: 0%;
  margin: 0%;
}
.header {
  width: 100%;
  height: 13%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  background-color: #f0f0f0;
}
img {
  width: 40px;
  height: 50%;
  margin-top: 25px;
  margin-left: 10%;
}
.header .first {
  margin-left: -8px;
  padding-top: 45px;
  padding-bottom: 5px;
  color: #4c1a57;
}
.header .first h3 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 16.08px;
  line-height: 20.59px;
}
.header .first h5 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  font-size: 8px;
  line-height: 10.24px;
  display: flex;
  justify-self: center;
}
.header .second {
  margin-left: 15%;
  margin-right: 8%;
  display: flex;
  align-items: center;
}
.header .second .nav-items {
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25.6px;
  margin-left: 15px;
  margin-top: 20px;
}
.header .second .nav-items a {
  text-decoration: none;
  color: #4c1a57;
}
.header .second .nav-items a:hover {
  color: blue;
}
.header input {
  width: 15%;
  height: 30px;
  margin-top: 30px;
  padding-left: 35px;
  border-radius: 15px;
  border-color: #1e1e1ecc;
  background-color: #f0f0f0;
}
.header .bi-search {
  padding-top: 39px;
  position: relative;
  right: 16.5%;
}
.header .icon {
  padding-top: 35px;
  margin-left: 25px;
  font-size: 25px;
}
.header .icon .bi-cart3 {
  color: black;
}

.body {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #dfdfdf;
}
.body .left {
  width: 40%;
  height: auto;
  margin-right: 0px;
}
.body .left img {
  width: 100%;
  height: 100%;
  position: relative;
  left: 40px;
  top: -25px;
  object-fit: fill;
}
.body .right {
  width: 40%;
  margin-top: 10%;
  margin-left: 13%;
  text-align: left;
}
.body .right form {
  margin-top: 40px;
  width: 80%;
  text-align: center;
}
.body .right form h3 {
  font-size: 20px;
  line-height: 30px;
  margin-top: 30px;
}
.body .right form p {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.body .right form p a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.body .right form .alt {
  margin-top: 20px;
}
.body .right form .use {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  padding-left: 20px;
  color: #4c1a57;
  background-color: transparent;
  border: 1px solid rgb(41, 40, 40);
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.15);
  font-size: 15px;
  font-weight: bold;
}
.body .right form .use .fa-google {
  color: black;
  font-size: 18px;
  margin-right: 10px;
}
.body .right form input {
  width: 100%;
  height: 40px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid black;
  margin-bottom: 15px;
  background-color: transparent;
}
.body .right form .fa-eye-slash {
  position: relative;
  left: 45%;
  top: -50px;
}
.body .right form .fa-eye {
  position: relative;
  left: 45%;
  top: -50px;
  display: none;
}
.body .right form .check {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}
.body .right form .check #tick {
  width: 20px;
  margin-right: 15px;
}
.body .right form .check p {
  font-size: 15px;
  padding-bottom: 8px;
  font-weight: lighter;
}
.body .right form .check a {
  color: #4c1a57;
}
.body .right form .sign {
  width: 100%;
  height: 40px;
  background-color: #4c1a57;
  color: white;
  margin-bottom: 10px;
}

.foot {
  width: 100%;
  height: auto;
  background-image: linear-gradient(
    to left,
    #bdbdbd,
    #a3a3a3,
    #979797,
    #8a8a8a
  );
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.foot .left {
  width: 25%;
  margin-left: 7%;
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}
.foot .left .first {
  width: 100%;
  display: flex;
}
.foot .left .first .write {
  width: 70%;
  margin-top: 15%;
  position: relative;
  left: -13px;
  text-align: left;
}
.foot .left .first .write h3 {
  font-size: 18px;
  color: #4c1a57;
  font-weight: 500;
}
.foot .left .first .write h5 {
  font-size: 8px;
  width: 50%;
  text-align: center;
  font-weight: 300;
  color: #4c1a57;
}
.foot .left .icon {
  margin-top: 20px;
  margin-left: 35px;
  line-height: 40px;
}
.foot .left .icon p {
  font-size: 15px;
  color: #655b68;
}
.foot .left .icon .fa-brands {
  color: #4c1a57;
  margin-right: 20px;
  font-size: 18px;
}
.foot .right {
  width: 60%;
  margin-left: 8%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 40px;
}
.foot .right ul {
  width: 25%;
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}
.foot .right ul li {
  color: #4c1a57;
  list-style: none;
  margin-bottom: 20px;
  width: 100%;
}
.foot .right ul a {
  margin-bottom: 20px;
  width: 100%;
  text-decoration: none;
  color: #524f4f;
}
.foot .right ul a:hover {
  color: #4c1a57;
}
